{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Roey Chasman" />
  <meta name="copyright" content="Copyright &copy; {{ current_year }} Roey Chasman" />
  <title>{% include "title.html" %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <meta name="robots" content="index, follow"/>
 </head>

<body>
{% block header %}
<div id="header">
	<div id="nav" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
          <a class="brand" href="{% url views.index %}">
					Reffonomics World Quiz Center
				</a>
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            {% if user.is_authenticated %}
            {% trans "Welcome" %},: {{ user.username }}
            <a href="{#% url auth_logout %#}">{% trans "Log out" %}</a>
            {% else %}
            <a href="{#% url auth_login %#}">{% trans "Log in" %}</a>
            {% endif %}
        </ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
    <div id="content">
        <div id="container-fluid">
            <div id="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div id="footer">
        {% block footer %}
        <hr/>
        {% endblock %}
    </div>
</body>

</html>
