{% load i18n %}
<div id="nav" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{% url views.index %}">
            Reffonomics World Quiz Center
            </a>
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            {% if user.is_authenticated %}
            {% trans "Welcome" %},: {{ user.username }}
            <a href="{#% url auth_logout %#}">{% trans "Log out" %}</a>
            {% else %}
            <a href="{#% url auth_login %#}">{% trans "Log in" %}</a>
            {% endif %}
        </ul>
        </div>
    </div>
</div>
